{% extends "_layout" %}

{% block main %}
    {# Get enties under the blog section that are connected to the current category #}
    {% set entries = craft.entries().section('blog').limit(5).all() %}
    {# Display the entries #}
    {% for entry in entries %}
        <article>
            <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
            
            <a href="{{ entry.url }}">Continue reading</a>
        </article>
    {% endfor %}

    {% set categories = craft.categories() %}    
    <div>Other categories:</div>
    {# Display the categories #}
    <ul>
        {% nav category in categories.all() %}
            <li>
                <a href="{{ category.url }}">{{ category.title }}</a>
                {% set entryCount = craft.entries.relatedTo(category).count() %}
                <small>({{ entryCount }})</small>
                {% ifchildren %}
                    <ul>
                        {% children %}
                    </ul>
                {% endifchildren %}
            </li>
        {% endnav %}
    </ul>
{% endblock main %}