{% extends "_layout" %}

{% block main %}

    {% set you = currentUser.firstName %}
    <h1>HELLO THERE {{ you }}</h1>
                
    {% for entry in craft.entries.section('blog').limit(3).all() %}
        <div class="entry">
            <a href="{{ entry.url }}">
                <h2>{{ entry.title }}</h2>
            </a>
            <div class="blogIntro">{{ entry.blogIntroduction }}</div>
            <!--<p>{{ entry.blogBody }}</p>-->
            <small>Posted by {{ entry.author }} on {{ entry.postDate | date('M d, Y') }}</small>
            
        </div>
        <hr/>
    {% endfor %}

{% endblock %}